<center><h1> Friends list <h1></center>
<hr/>
<h4><font color=white>To add friend please click on</font> <%= link_to "Friends", images_path %></h4>
<h1><img alt="Friends" src="/images/friends.gif"/></h1><br>

<hr/>
